<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Quick Links</h4>
  	 			<ul>
  	 				<li><a href="#" routerLink="/ngo">NGO</a></li>
  	 				<li><a href="#">Courses</a></li>
  	 				<li><a href="#">Schemes</a></li>
  	 				<li><a href="#">Trainee</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help from government</h4>
  	 			<ul>
  	 				<li><a href="https://ngodarpan.gov.in/" target="_blank">Darpan</a></li>
  	 				<!--<li><a href="#">Website 2</a></li>
  	 				<li><a href="#">Website 3</a></li>
  	 				<li><a href="#">Website 4</a></li>
  	 				<li><a href="#">Website 5</a></li>-->
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Any Feedback</h4>
  	 			<ul>
  	 				<li><a href="#" routerLink="/addfeedback">Feedback Link</a></li>
  	 				<li><a href="#" routerLink="/feedbacklist">Feedback by users</a></li>
  	 				<!--<li><a href="#">website 3</a></li>
  	 				<li><a href="#">website 4</a></li>-->
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

