<div class="container">
    <h3> View Scheme Details</h3>
    <div>
        <div>
            <label> <b> Scheme Name: </b></label> {{scheme.schemeName}}
        </div>
        
        <div>
            <label> <b> Scheme Type: </b></label> {{scheme.schemeType}}
        </div>
        <div>
            <label> <b> Scheme Launch Date: </b></label> {{scheme.schemeLaunchDate}}
        </div>
        <div>
            <label> <b> Scheme Eligibility </b></label> {{scheme.schemeEligibility}}
        </div>
        <div>
            <label> <b> Scheme Objective </b></label> {{scheme.schemeObjective}}
        </div>
        
    </div>
</div>