<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/ngolist" routerLinkActive="active" class="nav-link" >NGO List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="/addngo" routerLinkActive="active" class="nav-link" >Add NGO</a>
        </li>
    </ul>
</nav>-->
<!--<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()" [formGroup]="ngoform">
    
        <div class="form-group">
            <label> NGO ID</label>
            <input type="text" class ="form-control" id = "ngoId"
                [(ngModel)] = "ngo.ngoId" name = "ngoId" formControlName="ngoId" [class.is-invalid]="ngoId.invalid && ngoId.touched">
                <small [class.d-none]="ngoId.valid || ngoId.untouched" class="text-danger">
                    NGO ID is a required field</small>
        </div>
    
        <div class="form-group">
            <label> NGO Name</label>
            <input type="text" class ="form-control" id = "ngoName"
                [(ngModel)] = "ngo.ngoName" name = "ngoName" formControlName="ngoName" [class.is-invalid]="ngoName.invalid && ngoName.touched">
                <small [class.d-none]="ngoName.valid || ngoName.untouched" class="text-danger">
                    NGO name is a required field</small>
        </div>
    
        <div class="form-group">
            <label> NGO Location</label>
            <input type="text" class ="form-control" id = "ngoLocation"
                [(ngModel)] = "ngo.ngoLocation" name = "ngoLocation" formControlName="ngoLocation" [class.is-invalid]="ngoLocation.invalid && ngoLocation.touched">
                <small [class.d-none]="ngoLocation.valid || ngoLocation.untouched" class="text-danger">
                    NGO location is a required field</small>
        </div>

        <div class="form-group">
            <label> NGO Type</label>
            <input type="text" class ="form-control" id = "ngoType"
                [(ngModel)] = "ngo.ngoType" name = "ngoType" formControlName="ngoType" [class.is-invalid]="ngoType.invalid && ngoType.touched">
                <small [class.d-none]="ngoType.valid || ngoType.untouched" class="text-danger">
                    NGO Type is a required field</small>
        </div>

        <div class="form-group">
            <label> NGO Motive</label>
            <input type="text" class ="form-control" id = "ngoMotive"
                [(ngModel)] = "ngo.ngoMotive" name = "ngoMotive" formControlName="ngoMotive" [class.is-invalid]="ngoMotive.invalid && ngoMotive.touched">
                <small [class.d-none]="ngoMotive.valid || ngoMotive.untouched" class="text-danger">
                    NGO Motive is a required field</small>
        </div>

        <div class="form-group">
            <label> Donation</label>
            <input type="text" class ="form-control" id = "donation"
                [(ngModel)] = "ngo.donation" name = "donation" formControlName="donation" [class.is-invalid]="donation.invalid && donation.touched">
                <small [class.d-none]="donation.valid || donation.untouched" class="text-danger">
                    Donation is a required field</small>
        </div>

        <div class="form-group">
            <label> NGO Size</label>
            <input type="text" class ="form-control" id = "ngoSize"
                [(ngModel)] = "ngo.ngoSize" name = "ngoSize" formControlName="ngoSize" [class.is-invalid]="ngoSize.invalid && ngoSize.touched">
                <small [class.d-none]="ngoSize.valid || ngoSize.untouched" class="text-danger">
                    NGO Size is a required field</small>
        </div>

        <div class="form-group">
            <label> NGO Activities</label>
            <input type="text" class ="form-control" id ="ngoActivities"
                [(ngModel)] = "ngo.ngoActivities" name ="ngoActivities" formControlName="ngoActivities">
                <small [class.d-none]="ngoActivities.valid || ngoActivities.untouched" class="text-danger" [class.is-invalid]="ngoActivities.invalid && ngoActivities.touched">
                    Activities is a required field</small>
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>-->
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8" />
        <title>Responsive Registration Form</title>
        <meta name="viewport" content="width=device-width,
          initial-scale=1.0"/>
      </head>
      <body>
        <div class="container">
          <h1 class="form-title">Add Schemes</h1>
          <form (ngSubmit) = "onSubmit()" [formGroup]="schemeform">
            <div class="main-user-info">
              <div class="user-input-box">
                <label>Scheme ID</label>
                <input type="text" class ="form-control" id = "schemeId" placeholder="Enter ID"
                [(ngModel)] = "scheme.schemeId" name = "schemeId" formControlName="schemeId" [class.is-invalid]="schemeId.invalid && schemeId.touched">
                <small [class.d-none]="schemeId.valid || schemeId.untouched" class="text-danger">
                    Scheme ID is a required field</small>
              </div>
              <div class="user-input-box">
                <label>Scheme Name</label>
                <input type="text" placeholder="Enter Name" class ="form-control" id = "schemeName"
                [(ngModel)] = "scheme.schemeName" name = "schemeName" formControlName="schemeName" [class.is-invalid]="schemeName.invalid && schemeName.touched">
                <small [class.d-none]="schemeName.valid || schemeName.untouched" class="text-danger">
                    Scheme name is a required field</small>
              </div>
              <div class="user-input-box">
                <label>Scheme Type</label>
                <input type="text" placeholder="Enter scheme type" class ="form-control" id = "schemeType"
                [(ngModel)] = "scheme.schemeType" name = "schemeType" formControlName="schemeType" [class.is-invalid]="schemeType.invalid && schemeType.touched">
                <small [class.d-none]="schemeType.valid || schemeType.untouched" class="text-danger">
                    Scheme type is a required field</small>
              </div>
              <div class="user-input-box">
                <label>Scheme Launch date</label>
                <input type="text" placeholder="Enter scheme launch date" class ="form-control" id = "schemeLaunchDate"
                [(ngModel)] = "scheme.schemeLaunchDate" name = "schemeLaunchDate" formControlName="schemeLaunchDate" [class.is-invalid]="schemeLaunchDate.invalid && schemeLaunchDate.touched">
                <small [class.d-none]="schemeLaunchDate.valid || schemeLaunchDate.untouched" class="text-danger">
                     Date is a required field</small>
              </div>
              <div class="user-input-box">
                <label>Scheme Eligibility</label>
                <input type="text" placeholder="Enter eligibility" class ="form-control" id = "schemeEligibility"
                [(ngModel)] = "scheme.schemeEligibility" name = "schemeEligibility" formControlName="schemeEligibility" [class.is-invalid]="schemeEligibility.invalid && schemeEligibility.touched">
                <small [class.d-none]="schemeEligibility.valid || schemeEligibility.untouched" class="text-danger">
                     Eligibility is a required field</small>
              </div>
              <div class="user-input-box">
                <label>Scheme objective</label>
                <input type="text" placeholder="Enter objectives" class ="form-control" id = "schemeObjective"
                [(ngModel)] = "scheme.schemeObjective" name = "schemeObjective" formControlName="schemeObjective" [class.is-invalid]="schemeObjective.invalid && schemeObjective.touched">
                <small [class.d-none]="schemeObjective.valid || schemeObjective.untouched" class="text-danger">
                    Objective is a required field</small>
              </div>
            </div>
            <div class="form-submit-btn">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </body>
    </html>
    