<div class="container">
    <h3> View Employee Details</h3>
    <div>
        <div>
            <label> <b> NGO Name: </b></label> {{trainingCourse.courseName}}
        </div>
        <div>
            <label> <b> NGO Location: </b></label> {{trainingCourse.courseDuration}}
        </div>
        <div>
            <label> <b> NGO Type: </b></label> {{trainingCourse.startingDate}}
        </div>
        <div>
            <label> <b> NGO Motive: </b></label> {{trainingCourse.endingDate}}
        </div>
        <div>
            <label> <b> Donation </b></label> {{trainingCourse.courseCompletionStatus}}
        </div>
    </div>
</div>