<div class="container">
    <h3> View Employee Details</h3>
    <div>
        <div>
            <label> <b> NGO Name: </b></label> {{ngo.ngoName}}
        </div>
        <div>
            <label> <b> NGO Location: </b></label> {{ngo.ngoLocation}}
        </div>
        <div>
            <label> <b> NGO Type: </b></label> {{ngo.ngoType}}
        </div>
        <div>
            <label> <b> NGO Motive: </b></label> {{ngo.ngoMotive}}
        </div>
        <div>
            <label> <b> Donation </b></label> {{ngo.donation}}
        </div>
        <div>
            <label> <b> NGO Size </b></label> {{ngo.ngoSize}}
        </div>
        <div>
            <label> <b> NGO Activities </b></label> {{ngo.ngoActivities}}
        </div>
    </div>
</div>