<div class="container">
    <h3> View Employee Details</h3>
    <div>
        <div>
            <label> <b> NGO Name: </b></label> {{trainee.firstName}}
        </div>
        <div>
            <label> <b> NGO Location: </b></label> {{trainee.lastName}}
        </div>
        <div>
            <label> <b> NGO Type: </b></label> {{trainee.email}}
        </div>
        <div>
            <label> <b> NGO Motive: </b></label> {{trainee.familyInfo}}
        </div>
        <div>
            <label> <b> Donation </b></label> {{trainee.location}}
        </div>
        <div>
            <label> <b> NGO Size </b></label> {{trainee.contact}}
        </div>
        <div>
            <label> <b> NGO Activities </b></label> {{trainee.aadharNo}}
        </div>
        <div>
            <label> <b> NGO Activities </b></label> {{trainee.dob}}
        </div>
    </div>
</div>